
# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore Kotlin plugin data
.kotlin/

# Ignore Zed editor tasks & settings
.zed/

# Ignore generated output
out/
dag.png
